<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BongoCatCaro</title>
    <link rel="stylesheet" href="../style/style.css">
    
</head>

<body>
    <div id="container">
        <hr>
        <div class="cat">
            <div id="head"></div>
            <div id="mouth" style="background-position-x: 0px;"></div>
            <div id="paw-left" style="background-position-x: 0px;"></div>
            <div id="paw-right" style="background-position-x: 0px;"></div>
        </div>
        <div class="instruments">
            <div id="bongo"></div>
        </div>
    </div>

    <div class="vertical-menu">
        <a href="#" class="active">Instrument</a>
        <section class="menu" style="visibility: hidden;">
            <a href="./bongo.html">Bongos</a>
            <a href="./keyboard.html">Keyboard</a>
            <a href="./meow.html">Meow</a>
            <a href="./cymbal.html">Cymbal</a>
            <a href="./marimba.html">Marimba</a>
            <a href="./tambourine.html">Tambourine</a>
            <a href="./cowbell.html">Cowbell</a>
        </section>
    </div>

    <div id="taps">
        <div class="tap" id="tap-left" onmousedown="tap('../sounds/bongo0.mp3', 'right')"
        onclick = "disTap('right')"><span i18n="LEFT">LEFT</span></div>
        <div class="tap" id="tap-right" onmousedown="tap('../sounds/bongo1.mp3', 'left')"
        onclick = "disTap('left')"><span i18n="RIGHT">RIGHT</span></div>
    </div>

<script>
        function tap(audioUrl, hand){
            document.getElementById('paw-' + hand).style.backgroundPositionX = "-800px"
            new Audio(audioUrl).play()
        }

        function disTap(hand){
            document.getElementById('paw-'+ hand).style.backgroundPositionX = "0px"
        }
    </script>
    <footer>
        <span i18n="other-lang"><a href="/?lang=ca">En català</a></span>
        <span i18n="courtesy">Art courtesy of <a href="https://twitter.com/StrayRogue" target="_blank">@StrayRogue</a></span>
        <span i18n="meme">Meme by <a href="https://twitter.com/DitzyFlama" target="_blank">@DitzyFlama</a></span>
        <span i18n="website">Website by <a href="https://erics.site/?utm_source=bongo.cat" target="_blank">Eric Huber</a> (<a href="https://twitter.com/Externalizable" target="_blank">@Externalizable</a>)</span>
    </footer>
</body>

</html>